body {
    background-color: rgb(119, 14, 14);
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.6rem;
}

#content {
    margin:0 auto;
    margin-inline: 20%;
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
}

img {
    display: block;
    margin: auto;
    box-shadow: 2px 2px 5px black;
    width: 300px;
}